{% extends 'layout.html' %}
{% block title %}cookies{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col">
            <h1>cookies</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">cookies名</th>
                        <th scope="col">cookies值</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for k,v in cookies.items() %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}