[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pyodbc = "*"
pymysql = "*"
"psycopg2" = "*"
requests = "*"
requests-html = "*"
"beautifulsoup4" = "*"
faker = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
